/*Side Bar*/
#sidebar-wrapper{
	z-index:1;
	position:absolute;
	width:0;
	height:100%;
	overflow-y:hidden;
	background:#2C3E50;
	opacity:0.9;
}

/*Main Content*/
#page-content-wrapper{
	width:100%;
	position:absolute;
	padding:15px;
}

/*Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper{
	width:200px;
}

#wrapper.menuDisplayed #page-content-wrapper{
	padding-left:200px;
}

/*SideBar Styling*/
.sidebar-nav{
	padding:0px;
	list-style:none;
}

.sidebar-nav li{
	text-indent:20px;
	line-height:40px;
}  

.sidebar-nav li a{
	display:block;
	text-decoration:none;
	color:#ddd;
}

.sidebar-nav li a:hover{
	background:#16A085;
	
}